@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1B1D29;
  --foreground-rgb: 0, 0, 0;
}


body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background);
}

/* html, body, #__next {
  height: 100%;
  overflow: visible;
} */